<div class="entry-row-subtotal">
    <div class="entry-row-item close"></div>
    <div class="entry-row-item date"></div>
    <div class="entry-row-item type"></div>
    <div class="entry-row-item note"></div>
    <div class="entry-row-subtotal-item">{{ subtotal|number_format(2, '.', ',') }}</div>
</div>